.main-container{
    width: 700px;
    height: 700px;
    background: #034E65;
    margin: 30px auto;
    position: relative;

}
.main-container .all-boxes{
    display: inline-block;
    width: 642px;
    height: 600px;
    padding: 0;
    position: relative;
    top: 80px;
    left: 10%;
}

.main-container div{
    display: inline-block;
    width: 132px;
    height: 116px;
    padding: 20px;
    overflow: auto;
/*    position: absolute;*/
}
/*
.main-container div h1{
    display: none;
}
*/
.border-right{
    border-right: solid 4px white;
}
.border-bottom{
    border-bottom: solid 4px white;
}
.box2,.box5,.box8{
    position: relative;
    right: 5px;
}
.box3,.box6{
    position: relative;
    right: 20px;
}
.box4,.box5,.box6{
    position: relative;
    bottom: 10px;
}
.box7,.box8{
    position: relative;
    bottom: 20px;
}
.box9{
    position: relative;
    bottom: 15px;
    right: 7px;
}
.x,.zero,.ties{
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;    
    text-align: center;
    font-size: 40px;
    background: #232D3C;
    border-radius: 5px;
}
.restart{
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;    
    text-align: center;
    font-size: 20px;
    background: #232D3C;
    color: #fff;
    border-radius: 5px;
    position: relative;
    top: 2%;
    left: 40%;
}
.x{
    color: #BEDB39;
    position: relative;
    left: 10%;
}
.zero{
    color: #FD7400;
    position: relative;
    left: 30%;
}
.x:hover,
.zero:hover,
.restart:hover{
    cursor: pointer;
}
.ties{
    color: #FFF;
    position: relative;
    left: 20%;
}